.DS_Store
**/.DS_Store

.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
plan.out
*.plan.out
crash.log
crash.*.log

*.tfvars
*.tfvars.json
!*.tfvars.example
*.backend.hcl
backend.hcl
!backend.hcl.example

*.kubeconfig
kubeconfig
